<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Obtener Cita</h1>
		<h3>Para obtener cita con el médico, registrese como usuario, si ya está registrado o presione el enlace de
			debajo
		</h3>
		<a href="login-usuario">Iniciar sesion</a>
		<form th:action="@{/registrarUsuario}" th:object="${usuario}" method="post">
			<div>
				<label for="dni" class="form-label">Dni</label>
				<div>
					<input type="text" class="form-control" id="dni" th:field="*{dni}" />
					<div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="alert alert-danger mt-3">DNI
						Error</div>
				</div>
			</div>
			<div>
				<label for="nombre" class="form-label">Nombre</label>
				<div>
					<input type="text" class="form-control" id="nombre" th:field="*{nombre}" />
					<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger mt-3">
						Nombre Error</div>
				</div>
			</div>
			<div>
				<label for="apellidos" class="form-label">Apellidos</label>
				<div>
					<input type="text" class="form-control" id="apellidos" th:field="*{apellidos}" />
					<div th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"
						class="alert alert-danger mt-3">Apellidos Error</div>
				</div>
			</div>
			<div>
				<label for="edad" class="form-label">Edad</label>
				<div>
					<input type="number" class="form-control" id="edad" th:field="*{edad}" />
					<div th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="alert alert-danger mt-3">Edad
						Error</div>
				</div>
			</div>
			<br>
			<div>
				<input type="submit" class="btn btn-primary" value="Enviar">
			</div>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
</body>

</html>