<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<h1>Bienvenid@ <span th:text=${usuario.nombre}></span> aquí puedes pedir cita con el médico o consultar tu historial de citas</h1>
	<h3>Rellena el formulario de debajo para pedir cita, consulta aquí tu historial <a href="/historialCitas">Ver citas</a></h3>
	<form th:action="@{/procesarPedirCita}" th:object="${cita}" method="post">
		<div>
			<label for="especialidad">Especialidad</label>
			<select id="especialidad" th:field="*{especialidad}">
				<option th:each="especialidad : ${especialidadesDisponibles}" th:value="${especialidad}"
					th:text="${especialidad}"></option>
			</select>
		</div>
		<div>
			<label for="medico">Medico</label>
			<select id="medico" th:field="*{medico}">
				<option th:each="medico : ${medicosDisponibles}" th:value="${medico}" th:text="${medico}">
				</option>
			</select>
		</div>
		<div>
			<label for="fecha">Fecha</label>
			<select id="fecha" th:field="*{fecha}">
				<option th:each="fecha : ${fechasDisponibles}" th:value="${fecha}" th:text="${fecha}"></option>
			</select>
		</div>
		<div>
			<label for="descripcion">Descripcion</label>
			<div>
				<input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}">
			</div>
		</div>
		<div>
			<input type="submit" value="Enviar">
		</div>
	</form>
</body>

</html>